$color-primary: rgba(0, 0, 0, 0.8);
$color-bg: #FFFFFF;
$color-link: #2185C5;
$color-link-hover: #FF7F66;
$color-header: #FFFFFF; // logo and nav
$color-footer: #808080;
$color-heading-large: $color-primary; // h2 - h3
$color-heading-small: #808080; // h4 - h6

$text-font-stack: 'Lato', Helvetica, sans-serif;
$heading-font-stack: 'Alegreya', serif;
