@import 'reset';
@import 'fonts';
@import 'vars';

body {
    background: $color-bg;
    color: $color-primary;
    font: 100% $text-font-stack;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

b, strong {
    font-weight: 700;
}

i, em {
    font-style: italic;
}

p {
    margin-bottom: 15px;
}

a {
    color: $color-link;
    text-decoration: none;

    &:hover {
        color: $color-link-hover;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-stack;
    font-weight: 700;
}

h1 {
    color: $color-header;
    font-size: 80px;
}

h2, h3 {
    color: $color-heading-large;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 35px;
}

h4, h5, h6 {
    color: $color-heading-small;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
}

header {
    position: relative;
    width: 100%;
    height: 250px;
    margin: 0;
    background: $color-header-bg;
    color: $color-header;
    font-family: 'Alegreya', serif;
    font-weight: 700;

    .logo {
        position: absolute;
        z-index: 2;
        float: left;
        top: 72px;
        left: 30px;
    }

    nav {
        z-index: 3;
        float: right;
        position: absolute;
        top: 105px;
        right: 20px;

        ul {
            list-style: none;
                
            li {
                display: inline-block;

                a {
                    display: block;
                    padding: 10px;
                    color: $color-header;
                    font-size: 20px;
                    border-radius: 20px;

                    &:hover {
                        color: inherit;
                        border: 3px solid $color-link-hover;
                        padding: 7px;
                    }
                }

                &.breaker {
                    display: none;
                }
            }
        }
    }

    canvas#voro {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

main {
    margin: 50px auto;
    width: 700px;
    font-size: 20px;
    line-height: 1.7;
}

footer {
    width: 100%;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    color: $color-footer;
    font-size: 15px;
}

::selection {
    color: $color-selection;
    background: $color-selection-bg;
}

/*
@media (min-width: 915px) and (max-width: 1200px) {
    header nav {
        top: 77px;

        ul {
            text-align: right;
        }

        ul li.breaker {
            display: block;
        }
    }
}
*/

@media (min-width: 578px) and (max-width: 1200px) {
    header {
        height: 150px;

        .logo {
            top: 12px;
            left: 50%;
            margin-left: -210px;
            width: 420px;
            text-align: center;
            
            h1 {
                font-size: 60px;
            }
        }

        nav {
            width: 580px;
            left: 50%;
            margin-left: -290px;
            top: 90px;
            text-align: center;
        }
    }
}

@media (min-width: 915px) and (max-width: 1200px) {
    header {
        height: 200px;

        .logo {
            top: 30px;
        }

        nav {
            top: 120px;
        }
    }
}

@media (max-width: 577px) {
    header {
        height: 170px;

        .logo {
            top: 12px;
            left: 50%;
            width: 350px;
            margin-left: (-350px / 2);
            text-align: center;
            
            h1 {
                font-size: 50px;
            }
        }

        nav {
            width: 330px;
            left: 50%;
            margin-left: (-330px / 2);
            top: 80px;
            text-align: center;

            ul li a {
                padding: 5px 10px;

                &:hover {
                    padding: 2px 7px;
                }
            }

            ul li.breaker {
                display: block;
            }
        }

        canvas#voro {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    main {
        margin: 20px auto;
        width: 90%;
    }
}
