
        <div class="logo">
            <h1>Andrew Suzuki</h2>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/work">Work</a></li>
                <li><a href="https://github.com/andrewsuzuki" target="_blank">Github</a></li>
                <li class="breaker"></li>
                <li><a href="/resume.pdf">Resume</a></li>
                <li><a href="/about">About + Contact</a></li>
            </ul>
        </nav>
        <canvas id="voro" resize="true"></canvas>

