<!DOCTYPE html>
<html>
<head>
    <% include ./head %>
</head>
<body>
    <header>
        <% include ./header %>
    </header>

    <main>
        <h2><%= title %></h2>
        <%- content %>
    </main>

    <footer>
        <% include ./footer %>
    </footer>

</body>
</html>
