<!DOCTYPE html>
<html>
<head>
    <% include ./head %>
</head>
<body>
    <header>
        <% include ./header %>
    </header>

    <main>
        <article class="post">
            <header>
                <h2><%= title %></h2>
                <p class="meta"><%- formatDate(date) %></p>
            </header>
            <section class="body">

                <%- content %>

            </section>
        </article>
    </main>

    <footer>
        <% include ./footer %>
    </footer>

</body>
</html>
